Uma pessoa quer comprar um carro, e deseja ver as opções mais econômicas. Mostre os dados em um Dataframe com as seguintes condições:

Deve ser um carro com 5 lugares; (Passengers)

Selecione os 10 carros com maior MPG(Miles Per Gallon) na cidade;

Dos 10 mais econômicos, mostre os 5 modelos mais baratos; (Price)

Mostre somente as colunas 'Manufacturer','Make','Price','MPG.city','Type','Passengers'

In [1]:
import pandas as pd

In [ ]:
#traz apenas as colunas que precisa
cars = pd.read_csv("Cars93_miss.csv").loc[:,["Manufacturer","Make","MPG.city","Price","Type","Passengers"]]

cars.head()

  Manufacturer           Make  MPG.city  Price     Type  Passengers
0        Acura  Acura Integra      25.0   15.9    Small         5.0
1          NaN   Acura Legend      18.0   33.9  Midsize         5.0
2         Audi        Audi 90      20.0   29.1  Compact         5.0
3         Audi       Audi 100      19.0   37.7  Midsize         6.0
4          BMW       BMW 535i      22.0   30.0  Midsize         4.0

In [ ]:

#pega os carros com 5 passageiros
lugares= cars.Passengers == 5
df = cars[lugares]
#pega o top 10 mpg
df= df.sort_values(by="MPG.city", ascending=False).head(10)
#top 5 modelos mais baratos
df =  df.sort_values(by="Price").head(5)

   Manufacturer               Make  MPG.city  Price     Type  Passengers
43      Hyundai      Hyundai Excel      29.0    8.0    Small         5.0
22        Dodge         Dodge Colt      29.0    9.2    Small         5.0
61   Mitsubishi  Mitsubishi Mirage      29.0   10.3    Small         5.0
80       Subaru      Subaru Loyale      25.0   10.9    Small         5.0
12    Chevrolet  Chevrolet Corsica      25.0   11.4  Compact         5.0