In [73]:
import pandas as pd
titanic= pd.read_csv("titanic.csv",sep=",")

In [74]:
#criar um afunção e aplicar no dataframe
def soma_sibsp_parch(linha):
    return linha["SibSp"] + linha["Parch"]

In [75]:
nova_coluna = titanic.apply(soma_sibsp_parch, axis=1)
print(nova_coluna)

titanic["Relatives"]= nova_coluna #criação de nova coluna

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    3
889    0
890    0
Length: 891, dtype: int64

In [27]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

criar coluna de faixa etaria:  12 - criança , >= 12 & < 18 adolescente > 18 adulto

In [ ]:

#dt= titanic
media= int(titanic["Age"].mean())
titanic["Age"]=round(titanic["Age"].fillna(titanic["Age"].mean()),0)

In [141]:
def FaixaEtaria(linha):
    if linha["Age"] < 12.0:
        return "Criança"
    elif (linha["Age"]>= 12.0 and linha["Age"] <18.0):
        return "Adolescente"
    elif (linha["Age"]>=18.0 and linha["Age"] <65.0):
        return "Adulto"
    elif linha ["Age"]>=65:
        return "Idoso"
    else:
        return "Indefinido"

New = titanic.apply(FaixaEtaria, axis =1)
#titanic[titanic["FaixaEtaria"]=="Idoso"]
titanic["FaixaEtaria"] = New
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,FaixaEtaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,Adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,Adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,Adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,Adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Adulto
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,Indefinido
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,Adulto
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4,Criança
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2,Adulto
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1,Adolescente

In [79]:
titanic.to_csv("Titanic_Aula1_PD.csv",index= False)

In [ ]:
titanic.Survived[titanic["Survived"]==0].count() #contagem de mortos

549

In [ ]:
titanic.Survived[titanic["Survived"]==1].count() #contagem sobreviventes

342

In [182]:
agrupado = titanic.groupby("FaixaEtaria").count()


def calculo(linha):
    return round((linha["Pclass"]/agrupado["Survived"].sum()*100),2)

percentual = agrupado.apply(calculo,axis=1)

agrupado["Percentual"]= percentual 
print(agrupado[["PassengerId","Percentual"]])

             PassengerId  Percentual
FaixaEtaria
Adolescente           45        5.05
Adulto               590       66.22
Criança               68        7.63
Idoso                 11        1.23
Indefinido           177       19.87

In [ ]:
quadro_etario = titanic.groupby("Faixa_Etaria")["Faixa_Etaria"].count().to_frame(name="Quantidade")
quadro_etario['Porcentagem'] = round((quadro_etario['Quantidade'] / quadro_etario['Quantidade'].sum()) * 100,2)
print(quadro_etario)

In [151]:
titanic[titanic["FaixaEtaria"]=="Indefinido"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,FaixaEtaria
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,Indefinido
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0,Indefinido
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,Indefinido
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0,Indefinido
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0,Indefinido
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,0,Indefinido
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,10,Indefinido
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,0,Indefinido
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,0,Indefinido
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,Indefinido

In [124]:
def CalculoPerc(val,total):
    percent = (val/total)*100
    return f"{percent:.2f}"

In [125]:

Total = titanic.Survived.count()
Mortos = titanic.Survived[titanic["Survived"]==0].count()
vivos = titanic.Survived[titanic["Survived"]==1].count()

In [ ]:
#mortos com familia 
MFamilia = titanic[(titanic["Survived"]==0) & (titanic["Relatives"] != 0)]["Survived"].count()
MSemFamilia = titanic[(titanic["Survived"]==0) & (titanic["Relatives"] == 0)]["Survived"].count()
Homens = titanic[(titanic["Sex"]=="male")]["Sex"].count()
Mulheres = titanic[titanic["Sex"]=="female"]["Sex"].count()
HomM = titanic[(titanic["Survived"]==0) & (titanic["Sex"] == "male")]["Survived"].count()
MulM = titanic[(titanic["Survived"]==0) & (titanic["Sex"] == "female")]["Survived"].count()

print(f"Mortos com familia: {MFamilia}")
print(f"Mortos sem familia: {MSemFamilia}")
print(f"Homens: {Homens}")
print(f"Mulheres: {Mulheres}")
print(f"Homens Mortos:{HomM}")
print(f"Mulheres Mortas:{MulM}")
print(f"{30*"-"}")


#Totais Faixa etaria
totCri = titanic.FaixaEtaria[titanic["FaixaEtaria"]=="Criança"].count()
TotAd = titanic.FaixaEtaria[titanic["FaixaEtaria"]=="Adulto"].count()
totAdol = titanic.FaixaEtaria[titanic["FaixaEtaria"]=="Adolescente"].count()
totIdoso =  titanic.FaixaEtaria[titanic["FaixaEtaria"]=="Idoso"].count()


PercCrianças = CalculoPerc(totCri,Total)
PercAdultos = CalculoPerc(TotAd,Total)
PercAdol = CalculoPerc(totAdol,Total)
PercIdos = CalculoPerc(totIdoso,Total)

print(f"Percentual Crianças: {PercCrianças}%")
print(f"Percentual Adolescentes: {PercAdol}%")
print(f"Percentual Adultos: {PercAdultos}%")
print(f"Percentual Idosos: {PercIdos}%")
print(f"{30*"-"}")
#Classes
First = titanic[(titanic["Pclass"]==1)]["Pclass"].count()
Second =titanic[(titanic["Pclass"]==2)]["Pclass"].count()
Third =  titanic[(titanic["Pclass"]==3)]["Pclass"].count()
print(f"Total Primeira Classe: {First}")
print(f"Total Segunda Classe: {Second}")
print(f"Total Terceira  Classe: {Third}")
print(f"{30*"-"}")

#Mortos por classe

FirstDead = titanic[(titanic["Survived"]==0)&(titanic["Pclass"]==1)]["Survived"].count()
SecondDead = titanic[(titanic["Survived"]==0)&(titanic["Pclass"]==2)]["Survived"].count()
ThirtDead = titanic[(titanic["Survived"]==0)&(titanic["Pclass"]==3)]["Survived"].count()
print(f"Mortos Primeira Classe: {FirstDead}")
print(f"Mortos Segunda Classe: {SecondDead}")
print(f"Mortos Terceira  Classe: {ThirtDead}")

Mortos com familia: 175
Mortos sem familia: 374
Homens: 577
Mulheres: 314
Homens Mortos:468
Mulheres Mortas:81
------------------------------
Percentual Crianças: 7.63
Percentual Adolescentes: 5.05
Percentual Adultos: 66.22
Percentual Idosos: 1.23
------------------------------
Total Primeira Classe: PassengerId    216
Survived       216
Pclass         216
Name           216
Sex            216
Age            186
SibSp          216
Parch          216
Ticket         216
Fare           216
Cabin          176
Embarked       214
Relatives      216
FaixaEtaria    216
dtype: int64
Total Segunda Classe: 184
Total Terceira  Classe: 491
------------------------------
Mortos Primeira Classe: 80
Mortos Segunda Classe: 97
Mortos Terceira  Classe: 372