In [6]:
import pandas as pd
cats = pd.read_csv("cat_breeds_clean.csv",sep=";")
cats.head(10)

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude
0,Angora,0.25,3,female,False,19,2.0,white,solid,blue,False,wet,46,16,France,43.296482,5.369780
1,Angora,0.33,4,male,False,19,2.5,white,solid,blue,False,wet,48,16,France,43.611660,3.877710
2,Angora,0.50,6,male,False,20,2.8,black,solid,green,False,wet,41,11,France,44.837789,-0.579180
3,Angora,0.50,6,female,False,21,3.0,white,solid,blue,False,wet,24,8,France,43.611660,3.877710
4,Angora,0.50,6,male,False,21,3.0,red/cream,tabby,green,False,wet,51,10,France,48.864716,2.349014
5,Angora,0.50,6,female,False,21,3.0,white,solid,amber,False,wet,30,10,France,43.611660,3.877710
6,Angora,0.58,7,male,False,22,3.0,white,solid,amber,False,wet,47,9,France,47.218371,-1.553621
7,Angora,0.58,7,male,False,23,3.0,red/cream,solid,blue,False,wet,55,11,France,47.218371,-1.553621
8,Angora,0.58,7,female,False,25,3.0,black,tortie,blue,False,wet,20,12,France,43.296482,5.369780
9,Angora,0.67,8,female,False,25,3.0,white,solid,blue,False,wet,33,17,France,44.837789,-0.579180

In [ ]:
print(cats.Fur_colour_dominant.unique())
cats.Country.unique()
cats.

['white' 'black' 'red/cream' 'brown/chocolate' 'seal' 'lilac']

array(['France', 'USA', 'Germany', 'Canada', 'UK'], dtype=object)

In [68]:
raca = cats.Breed[cats["Breed"]=="Angora"]
europa = cats[(cats["Country"]=="France") | (cats["Country"]=="UK") | (cats["Country"]=="Germany")]
print(europa)
#orange= cats.Fur_colour_dominant[cats["Fur_colour_dominant"]==]

           Breed  Age_in_years  Age_in_months  Gender  Neutered_or_spayed  \
0         Angora          0.25              3  female               False
1         Angora          0.33              4    male               False
2         Angora          0.50              6    male               False
3         Angora          0.50              6  female               False
4         Angora          0.50              6    male               False
...          ...           ...            ...     ...                 ...
1066  Maine coon          0.17              2  female               False
1067  Maine coon          0.17              2  female               False
1068  Maine coon          0.17              2    male               False
1069  Maine coon          0.17              2    male               False
1070  Maine coon          0.17              2  female               False

      Body_length  Weight Fur_colour_dominant Fur_pattern Eye_colour  \
0              19     2.0               white       solid       blue
1              19     2.5               white       solid       blue
2              20     2.8               black       solid      green
3              21     3.0               white       solid       blue
4              21     3.0           red/cream       tabby      green
...           ...     ...                 ...         ...        ...
1066           15     1.2               white       solid       blue
1067           17     1.0               black     bicolor       blue
1068           14     0.7           red/cream       tabby       blue
1069           16     1.1           red/cream       tabby      green
1070           15     1.1           red/cream       solid       blue

      Allowed_outdoor Preferred_food  Owner_play_time_minutes  \
0               False            wet                       46
1               False            wet                       48
2               False            wet                       41
3               False            wet                       24
4               False            wet                       51
...               ...            ...                      ...
1066            False            wet                       35
1067            False            wet                       36
1068            False            wet                       20
1069            False            wet                       34
1070            False            wet                       39

      Sleep_time_hours Country   Latitude  Longitude  Razao peso*comprimento  \
0                   16  France  43.296482   5.369780                     NaN
1                   16  France  43.611660   3.877710                     NaN
2                   11  France  44.837789  -0.579180                     NaN
3                    8  France  43.611660   3.877710                     NaN
4                   10  France  48.864716   2.349014                     NaN
...                ...     ...        ...        ...                     ...
1066                20      UK  51.507351  -0.127758                     NaN
1067                19      UK  51.507351  -0.127758                     NaN
1068                20      UK  51.507351  -0.127758                     NaN
1069                19      UK  52.486244  -1.890401                     NaN
1070                20      UK  51.507351  -0.127758                     NaN

      new
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
1066  NaN
1067  NaN
1068  NaN
1069  NaN
1070  NaN

[327 rows x 19 columns]

In [73]:

#Os países dos gatos laranjas.
#quadro = dt.groupby("Sex")["PassengerId"].count().to_frame(name="total")
cats[cats["Fur_colour_dominant"]=="red/cream" ].groupby("Country")["Fur_colour_dominant"].count()
# print(cats[cats["Fur_colour_dominant"]=="red/cream" ].Country.unique())

Country
Canada      8
France     13
Germany    16
UK         19
USA        89
Name: Fur_colour_dominant, dtype: int64

In [72]:
cats.Country.unique()

array(['France', 'USA', 'Germany', 'Canada', 'UK'], dtype=object)

In [32]:

#A razão entre o peso (Kg) e comprimento (m) dos gatos com mais de 6 meses de idade.
def razao (linha):
    if linha["Age_in_months"]>6:
        return linha["Weight"]/(linha["Body_length"]/100)

cats["Razao peso*comprimento"]= cats.apply(razao,axis=1)
cats.head()

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude,Razao peso*comprimento
0,Angora,0.25,3,female,False,19,2.0,white,solid,blue,False,wet,46,16,France,43.296482,5.369780,NaN
1,Angora,0.33,4,male,False,19,2.5,white,solid,blue,False,wet,48,16,France,43.611660,3.877710,NaN
2,Angora,0.50,6,male,False,20,2.8,black,solid,green,False,wet,41,11,France,44.837789,-0.579180,NaN
3,Angora,0.50,6,female,False,21,3.0,white,solid,blue,False,wet,24,8,France,43.611660,3.877710,NaN
4,Angora,0.50,6,male,False,21,3.0,red/cream,tabby,green,False,wet,51,10,France,48.864716,2.349014,NaN

In [34]:
#A raça, idade e peso de todos os gatos machos.

cats[["Breed","Age_in_years","Weight"]][cats["Gender"]=="male"]

           Breed  Age_in_years  Weight
1         Angora          0.33     2.5
2         Angora          0.50     2.8
4         Angora          0.50     3.0
6         Angora          0.58     3.0
7         Angora          0.58     3.0
...          ...           ...     ...
1059  Maine coon          0.17     1.2
1062  Maine coon          0.08     0.7
1063  Maine coon          0.17     1.3
1068  Maine coon          0.17     0.7
1069  Maine coon          0.17     1.1

[536 rows x 3 columns]

In [39]:
cats.Breed.unique()

array(['Angora', 'Maine coon', 'Ragdoll'], dtype=object)

In [59]:
#A porcentagem do dia que cada gato Ragdoll passa dormindo (como string).
def horas(linha):
    if linha["Breed"] =="Ragdoll":
        return str(round((linha["Sleep_time_hours"]/24)*100,2))

Ragdoll = cats[cats["Breed"]=="Ragdoll"]
Ragdoll["Percentual de sono"] = Ragdoll.apply(horas,axis=1)

Ragdoll[["Breed","Sleep_time_hours","Percentual de sono"]]

C:\Users\disrct\AppData\Local\Temp\ipykernel_4840\2596855263.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ragdoll["Percentual de sono"] = Ragdoll.apply(horas,axis=1)

        Breed  Sleep_time_hours Percentual de sono
606   Ragdoll                10              41.67
607   Ragdoll                16              66.67
608   Ragdoll                16              66.67
609   Ragdoll                17              70.83
610   Ragdoll                16              66.67
...       ...               ...                ...
1036  Ragdoll                18               75.0
1037  Ragdoll                22              91.67
1038  Ragdoll                18               75.0
1039  Ragdoll                18               75.0
1040  Ragdoll                18               75.0

[435 rows x 3 columns]

In [60]:
#A soma do comprimento de todos os gatos.
cats["Body_length"].sum()

47128

In [62]:
#A média de horas dormidas.
round(cats.Sleep_time_hours.mean(),2)

15.89

In [66]:
# O peso total de todos os gatos entre 3 e 12 meses de idade.

round(cats.Weight[(cats["Age_in_months"]>=3) &(cats["Age_in_months"]<=12)].sum(),2)

215.6

In [76]:
cats.Country.unique()

array(['France', 'USA', 'Germany', 'Canada', 'UK'], dtype=object)

In [81]:
cats.head()

,Breed,Age_in_years,Age_in_months,Gender,Neutered_or_spayed,Body_length,Weight,Fur_colour_dominant,Fur_pattern,Eye_colour,Allowed_outdoor,Preferred_food,Owner_play_time_minutes,Sleep_time_hours,Country,Latitude,Longitude,Razao peso*comprimento,new
0,Angora,0.25,3,female,False,19,2.0,white,solid,blue,False,wet,46,16,France,43.296482,5.369780,NaN,NaN
1,Angora,0.33,4,male,False,19,2.5,white,solid,blue,False,wet,48,16,France,43.611660,3.877710,NaN,NaN
2,Angora,0.50,6,male,False,20,2.8,black,solid,green,False,wet,41,11,France,44.837789,-0.579180,NaN,NaN
3,Angora,0.50,6,female,False,21,3.0,white,solid,blue,False,wet,24,8,France,43.611660,3.877710,NaN,NaN
4,Angora,0.50,6,male,False,21,3.0,red/cream,tabby,green,False,wet,51,10,France,48.864716,2.349014,NaN,NaN

In [89]:
#A média da razão entre comprimento (cm) e idade dos gatos brancos e pretos da América do Norte

dt = cats[((cats["Fur_colour_dominant"]=="black") | 
          (cats["Fur_colour_dominant"]=="white"))&
          ((cats["Country"]=="USA")|(cats["Country"]=="Canada"))]




def mz(linha):

    return (linha["Body_length"]/linha["Age_in_years"])

dt["Razao_Idade"]= dt.apply(mz,axis=1)
print(dt.Razao_Idade.mean())
# mz=(dt["Body_length"].sum()/dt["Age_in_years"].sum()).mean()
# print(mz)

14.399698317082073

C:\Users\disrct\AppData\Local\Temp\ipykernel_4840\3213249060.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt["Razao_Idade"]= dt.apply(mz,axis=1)