In [31]:
import pandas as pd
dt = pd.read_csv("dados.csv", sep = ",",encoding ="latin")
ms= pd.read_csv("master.csv")

ms.drop(columns=['country','year'],inplace=True)
ms.head()

,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [36]:
# Faça um tratamento no arquivo “master.csv”:
# Separe a coluna “country-year” em duas colunas chamadas “country” e outra chamada year usando duas funções para criar cada coluna.
ms["country"]=ms["country-year"].str[:-4]
ms["Year"]=ms["country-year"].str[-4:]
ms.head()

,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,country,Year
0,male,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X,Albania,1987
1,male,35-54 years,16,308000,5.19,Albania1987,"2,156,624,900",796,Silent,Albania,1987
2,female,15-24 years,14,289700,4.83,Albania1987,"2,156,624,900",796,Generation X,Albania,1987
3,male,75+ years,1,21800,4.59,Albania1987,"2,156,624,900",796,G.I. Generation,Albania,1987
4,male,25-34 years,9,274300,3.28,Albania1987,"2,156,624,900",796,Boomers,Albania,1987

In [46]:
# Excluir a coluna “HDI for year”.
# E fazer um filtro que apresente somente as informações da linha com o país = Brazil, ano = 1987, sex=female, e a geração = Boomers.

# ms.drop(columns=['HDI for year'],inplace=True)
# ms.generation.unique()
ms[(ms["country"]=="Brazil") & (ms["Year"]=="1987") & (ms["sex"]=="female") & (ms["generation"]=="Boomers")].head()

,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,country,Year
4204,female,25-34 years,266,11393405,2.33,Brazil1987,"294,084,112,393",2394,Boomers,Brazil,1987