In [35]:
import pandas as pd
tp = pd.read_csv ("tips.csv", sep=";")

In [36]:

#Crie uma coluna tip_pct com a porcentagem de gorjeta em relação ao total da conta.
def percentual(linha):
    return round((linha["tip"]/ linha["total_bill"])*100)

tp["PercentualTip"] = tp.apply(percentual,axis=1)
tp.head()

   total_bill   tip     sex smoker  day    time  servings  PercentualTip
0       16.99  1.01  Female     No  Sun  Dinner         2              6
1       10.34  1.66    Male     No  Sun  Dinner         3             16
2       21.01  3.50    Male     No  Sun  Dinner         3             17
3       23.68  3.31    Male     No  Sun  Dinner         2             14
4       24.59  3.61  Female     No  Sun  Dinner         4             15

In [37]:
#Encontre a mesa com maior gorjeta percentual.
tp = tp.sort_values(by="PercentualTip",ascending=False)
tp.head(1)

     total_bill   tip   sex smoker  day    time  servings  PercentualTip
172        7.25  5.15  Male    Yes  Sun  Dinner         2             71